@using JobFinder.Web.Models
@model MessageViewModel
@{
    string classes = "alert alert-dismissable ";
    if (Model.Type == MessageType.Success)
    {
        classes += "alert-success";
    }
    else if (Model.Type == MessageType.Error)
    {
        classes += "alert-danger";
    }
    else
    {
        classes += "alert-warning";
    }
}
<div class="jumbotron row">
    <div class="col-mg-5">
        <div class="@classes">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@Model.Text</strong>
        </div>
    </div>    
</div>

