@using (Html.BeginForm("GetOffers", "JobOffer", FormMethod.Get, new { @class = "form-horizontal", id = "filter", role = "form" }))
{
    <div class="form-group">
        <label class="col-lg-2 control-label">Filter by</label>
        <div class="col-lg-10">
            <div class="radio">
                <label>
                    @if (TempData["onlyActive"] != null)
                    {
                        var active = (bool)TempData["onlyActive"];
                        if (active)
                        {
                            <label>Active</label>
                            <input type="radio" name="onlyActive" id="active" value="true" checked="">
                            <br />
                            <label>Expired</label>
                            <input type="radio" name="onlyActive" id="expired" value="false">

                        }
                        else
                        {
                            <label>Active</label>
                            <input type="radio" name="onlyActive" id="active" value="true">
                            <br />
                            <label>Expired</label>
                            <input type="radio" name="onlyActive" id="expired" value="false" checked="">
                        }

                    }
                    else
                    {
                        <label>Active</label>
                        <input type="radio" name="onlyActive" id="active" value="true">
                        <br />
                        <label>Expired</label>
                        <input type="radio" name="onlyActive" id="expired" value="false">
                    }
                </label>
            </div>
        </div>
    </div>
}
