@model IEnumerable<JobFinder.Web.Areas.Company.Models.ListOfferViewModel>

@{
    ViewBag.Title = "GetOffers";
}

<h2>GetOffers</h2>

@if (Model.Count() == 0)
{
    <div>There is no job offers posted by you.</div>
}
else
{
    <ul>
        @foreach (var offer in Model)
        {
            <li>
                @Html.ActionLink(offer.Title, "OfferDetails", "JobOffer", new { id = offer.Id }, new { @class = "btn btn-link" })
                <p><em>@offer.DateCreated</em></p>
            </li>
        }
    </ul>
}

