@model IEnumerable<JobFinder.Web.Areas.Person.Models.ListDocumentViewModel>
@{
    ViewBag.Title = "GetDocuments";
}

<h2>GetDocuments</h2>

@foreach (var doc in Model)
{
    <div class="well well-sm">
        @Html.ActionLink(doc.FileName, "DownloadFile", "Document", new { id = doc.Id }, new { @class = "btn btn-link" })
        <p>@doc.DateUploaded</p>
    </div>
}
@Html.ActionLink("Upload new cv", "UploadFile", "Document", null, new { @class = "btn btn-default" })

